// Your application styles go here
$base-color:#49BDCC;
$active-color:#badc2d;
.bar {
    background-color: $base-color !important;
    .title {
        color: #fff !important;
    }
}

.tab-nav {
    background-color: $base-color !important;
    border: none !important;
    padding-top: 0 !important;
    .tab-title {
        color: #fff;
    }
    .tab-item-active{
    	background-color: $active-color;
        border: none !important;
        margin-top: 0px !important;
    }
    .icon{
    	background-repeat: no-repeat;
        background-position: 50%;
        height: 20px;
        background-size: contain;
        margin: 6px;
    }
    .fit-icon-index {
        background-image: url('../images/icon-index.png');
    }
    .fit-icon-category {
        background-image: url('../images/icon-category.png');
    }
    .fit-icon-plan {
        background-image: url('../images/icon-plan.png');
    }
    .fit-icon-knowledge {
        background-image: url('../images/icon-knowledge.png');
    }
}
