db.sqlite3
*.pyc
dump.rdb
UserInterfaceState.xcuserstate
settings.py
node_modules
www
.idea
.tmp
.sass-cache
app/bower_components
coverage
platforms
plugins
*.swp
*.swo
*.log
*.DS_Store
app/scripts/config.js
app/FitRecipe/.gradle
app/FitRecipe/.idea
app/FitRecipe/build
app/FitRecipe/gradle
app/FitRecipe/social_sdk_library_project
backend/fitrecipe/static
