db.sqlite3
*.pyc
dump.rdb
UserInterfaceState.xcuserstate
settings.py
node_modules
www
.idea
.tmp
.sass-cache
app/bower_components
coverage
platforms
plugins
*.swp
*.swo
*.log
*.DS_Store
backend/fitrecipe/static
app/FitRecipe/youkuPlayerOpenSDK
app/FitRecipe/youkuPlayerOpenSDK/build/intermediates/bundles/release/classes.jar
app/FitRecipe/youkuPlayerOpenSDK/build/intermediates/bundles/release/classes.jar
