<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">

  <!-- Dashboard Tab -->
  <ion-tab title="首页" icon="fit-icon-index" href="#/tab/index">
    <ion-nav-view name="tab-index"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="分类" icon="fit-icon-category" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="计划" icon="fit-icon-plan" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab title="指南" icon="fit-icon-knowledge" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
